---
import BaseHead from '../components/site/BaseHead.astro'
import Header from '../components/site/Header.astro'
import Footer from '../components/site/Footer.astro'
import { SITE_DESCRIPTION } from '../consts'
import RecentPublications from '../components/site/RecentPublications.astro'
import { Image } from '@unpic/astro'
---

<script>
  const scrollToFooter = () => {
    document.querySelector('.footer')?.scrollIntoView({ behavior: 'smooth' })
  }
  document
    .querySelector('.reach-out-btn')
    ?.addEventListener('click', scrollToFooter)
</script>

<html lang="en">
  <head>
    <BaseHead
      title="Portfolio | Soham Karandikar"
      description={SITE_DESCRIPTION}
    />
  </head>
  <body
    class="mx-auto my-4 w-full max-w-screen-md transition-colors duration-300 dark:bg-neutral-800 dark:text-neutral-300"
  >
    <Header />
    <main class="flex flex-col justify-center">
      <div class="flex flex-col gap-4 px-4 md:my-10 md:px-16">
        <h1 class="w-full text-center text-2xl md:text-5xl">
          👋🏻 Hi, I'm Soham!
        </h1>
        <p class="w-full text-justify text-base md:text-lg">
          An aspiring full-stack developer based in Pune, India. I'm currently
          working on a (pretty shitty 😅) x86_64 OS in Rust, and learning
          Next.js.
        </p>
        <p class="mt-4 w-full text-justify text-base md:text-lg">
          I am proficient in TypeScript, Vue.js, Python and C. Check out some of
          the
          <a
            class="text-purple-700 underline hover:text-purple-400"
            href="/projects">Projects</a
          >
          I've made using them. I also write
          <a
            class="text-purple-700 underline hover:text-purple-400"
            href="/blog"
            >blogs
          </a> about my coding adventures!
          <br />
        </p>
        <div
          class="mt-6 flex aspect-video w-full flex-col items-center justify-center gap-2.5 px-4 lg:px-0"
        >
          <Image
            background="auto"
            src="https://ucarecdn.com/e16c1f39-0067-42f1-bdcf-021335ae064c/Me.jpeg"
            alt="Soham Karandikar"
            class="object-contain"
          />
          <p class="text-xs italic text-gray-600 dark:text-neutral-400">
            A picture me in the scenic beauty of Mulshi, Pune 🌲
          </p>
          <p class="mt-4 w-full text-justify text-base md:text-lg">
            <br />
            I'm always eager to learn and grow, and I'm passionate about all things
            tech. When I'm not coding, you can find me watching my favorite anime,
            Oregairu or Doctor Who. Do check them out if you've got the time!
            <br />
          </p>
        </div>
        <RecentPublications />
      </div>
      <Footer />
    </main>
  </body>
</html>
